.navbar{
   
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    background-color: #f1ae04;
    font-size: 22px;
    text-transform: uppercase;
   
  
}
.navbar a{
    opacity: 1;
    text-decoration: none;
    color: black;
    margin: 20px;
}
.navbar ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
    overflow: hidden;
    padding: 10px;
}
.navbar li a:hover{
    background-color: #111;
    color: white;
    padding: 10px;
    gap: 2rem;

}